body{
	background-image: url(ve.jpeg);
	background-repeat: no repeat;
	background-size: cover;
	background-attachment: fixed;
}

p{
	font-size:  px;
	padding-right: 700px;
	font-family: 'Anton', sans-serif;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-family: 'Lora', serif;

}

h1{
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@200&family=Merriweather+Sans:wght@600&family=Pacifico&family=Zen+Loop&display=swap" rel="stylesheet">
}

h2{font-size:  px;
	padding-right: 10px;}

